<div class="bg-light" id="login-container">
    <div class="row align-items-center justify-content-center h-100 w-100 g-0 px-4 px-sm-0">
        <div class="col col-sm-6 col-lg-7 col-xl-6">
            <div class="text-center mb-5">
                 <img src="game-console.png" alt="SalaJuegos"  width="60"> 
            </div>
                <div class="text-center mb-4">
                    <h3 class="titulo-custom">Bienvenido</h3>
                    <p class="text-secondary"></p>
                </div>

            <form>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="bx bx-user"></i>
                    </span>
                    <input type="text" class="form-control form-control-lg fs-6 custom-input" placeholder="usuario" [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class='bx bx-lock-alt'></i>
                    </span>
                    <input type="password" class="form-control form-control-lg fs-6 custom-input" placeholder="contraseña" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                </div>
                <button class="btn btn-primary btn-lg w-100 custom-button" (click)="login('/home')" type="submit">Iniciar sesion</button>
            </form>

            <div class="text-center">
                <small>No tenes cuenta? <a (click)="goToRegistrar('/registro')" style="text-decoration: underline; cursor: pointer;">Registrate</a></small>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-secondary" (click)="autologuearse()">Ingreso rápido</button>
            </div>
            
        </div>
    </div>
</div>

