<!--

<h1>Quien soy?</h1>

<h2>Hola! Soy Ludmila!</h2>
<img class= "w-100 h-100" src = "Yo.png" alt = "imagen presentacion">

<p>
    Estudiante de programación y una apasionada por la naturaleza con el deseo de poder fusionar ambas disciplinas :)
</p>

<h2>Explicacion de mi juego </h2>
-->




<div class="p-4 p-md-5 mb-4 rounded" id="quien-soy-container">
    <div class="row mb-2">
      <div class="col-auto d-none d-lg-block m-5">
          <img src="Yo2.jpg" alt="Soyyo" width="100%" height="100%" role="img">
    </div>
    <div class="col-md-6 px-0" id="general-container">
    <h1 class="display-4 fst-italic">¿Quien soy?</h1>
    <p class="lead my-3">
        Mi nombre es Ludmila, soy estudiante de programación y una apasionada por la naturaleza con el deseo de poder fusionar ambas disciplinas :)<br />
    </p>
    </div>
    
    
    <div class="col-md-5 w-100">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block p-3">
                
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Juego: Pokemon</h3>
            
            <p class="card-text mb-auto">
              El juego consiste en adivinar el nombre del pokemon donde se muestra la imagen vista de atras.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  