html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    //background-color: #000; 
   // background-image: url("../src/assets/tetris.jpg");
    //position: relative;
}
body {
    background-image: url("../src/assets/tetris2.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

