#container {
  background-image: url("../../../../assets/wallpaper.jpg");
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;  
  background-attachment: fixed;  
  min-height: 100vh;             
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonImagen {
  max-height: 1500px;
  max-width: 1500px;
}

.card {
  background-color: rgba(240, 240, 240, 0.9); 
  border: none;
}

.card-body {
  border: none;
}

.btn-custom {
  background-color:#ffcb05;
  color: #3c5aa6;
  border: 2px solid #3c5aa6;
  font-weight: bold;
}

.btn-custom:hover {
  background-color: #c7a008;
}

.input-group input {
  border-radius: 0;
}

.input-group button {
  border-radius: 0;
}
.card-title{
  font-size: 40px;
  color: #0c0b0b;
}
.card-text{
  font-size: 25px;
  color: #0c0b0b;
}