.container{
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color:  #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1{
    color:black;
}

h2{
    color:black;
}
.btn-link{
    color: #007bff; 
    text-decoration: none; 
}

.btn-link:hover {
    text-decoration: underline; 
}

.btn-primary {
    background-color: #007bff; 
    border: none; 
}

.btn-primary:hover {
    background-color: #0056b3; 
}